{% extends "HackhousePublicBundle::externalLayout.html.twig" %}

{% block title %} Reset your password {% endblock %}

{% block body%}
<div class="fullsizeContainer">
    <h1 style="margin-bottom: 30px;">Reset your password</h1>

    {% if has_flash('resetPasswordSuccess') %}
        {{ write_flash_block('resetPassword') }}
    {% else %}
        <p>Enter the email address associated with your Hackhouse account below,
            and we'll reset your password and mail it to you.</p>
        <form class="largeFields" action="{{ path('resetPassword') }}" method="POST">
            <div class="field">
                {{ form_widget(form.email, { 'attr': {'title' : 'Your email', 'class' : 'noLabel' ~ write_error_class(form.email) } }) }}
                <button type="submit" style="margin-bottom: 7px; padding: 11px 14px" class="btn btn-success btn-large">Reset it!</button>
                {{ write_form_errors(form.email) }}
            </div>
            <div style="clear: both"></div>
            {{ form_rest(form) }}
        </form>
    {% endif %}
</div>

{% endblock %}
